body {
  margin: 0;
  padding: 0;
  background-color: rgb(241, 237, 237);
}
.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  position: relative;

  padding: 10px;
}
.image {
  border-radius: 10px;
  width: 100%;
  height: 500px;
  display: block;
}

@media only screen and (max-width: 650px) {
  .image {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
  }
}
